---
layout: default
---

<link href="https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap" rel="stylesheet">
<style>
  @media screen and (min-width: 769px) {
    .home-sections {
      display: flex;
      gap: 30px;
      width: 100%;
    }

    .home-sections .column {
      flex: 1 1 0;
      min-width: 0;
    }
  }
</style>


<div class="home">

  <p>
    Hi, I'm Tharcisse. Welcome to my personal website: a place for my
    <a href="{{ '/projects/' | relative_url }}">projects</a>, <a href="{{ '/notebook/' | relative_url }}">notes</a>, and ideas.
    You can learn more <a href="{{ '/about/' | relative_url }}">about me</a> and explore my work here.
  </p>
  <p>
    This site brings together what I'm working on and what I'm learning along the way.
    Browse my <a href="{{ '/research/' | relative_url }}">research</a> and <a href="{{ '/life/' | relative_url }}">reflections</a>,
    or find me on <a href="https://github.com/tharcissentirandekura">GitHub</a>.
  </p>

  <p class="home-social">
    <a href="https://github.com/{{ site.social_sites.github }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/icons.svg' | relative_url }}#github"></use></svg><span>GitHub</span></a>
    <a href="{{ '/research/' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/icons.svg' | relative_url }}#scholar"></use></svg><span>Research</span></a>
    <a href="{{ '/projects/' | relative_url }}"><i class="fas fa-code"></i><span>Projects</span></a>
    <a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/icons.svg' | relative_url }}#rss"></use></svg><span>RSS</span></a>
  </p>




  <hr>

  <div class="home-sections">
    <div class="column">
      <h2 style="font-size: 1.3em; font-family: 'Vollkorn SC', serif;">Recent posts</h2>

      <ul class="post-list">
        {% assign mainPosts = site.posts | where: 'type', 'post' %}
        {% for post in mainPosts limit:3 %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta" style="font-size: 0.9em;">{{ post.date | date: date_format }} &verbar; {{
            post.category | capitalize }}</span>

          <h3 style="font-size: 1.2em; font-family: 'Vollkorn', serif; font-weight: 400;"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
          <p style="font-size: 0.9em;">{{ post.description }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="column">
      <h2 style="font-size: 1.3em; font-family: 'Vollkorn SC', serif;">What's new?</h2>
      <ul class="post-list">
        {% assign news_content = site.pages | where: "path", "news.md" | first %}
        {{ news_content.content | markdownify }}
      </ul>
    </div>
  </div>

</div>
